.controlContainer
{
    display: table;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #cfe89c;
    border-right: 1px solid #cfe89c;
}

table
{
    border-collapse: collapse;
    font-size: x-small;
}

table thead
{
    background-color: #cfe89c;
    font-weight: bold;
    text-align: center;
}

table thead .hKey 
{
    width: 50%;
}


table tbody .key 
{
    font-weight: bold;
    text-align: right;
    width: 50%;
}

table tbody .value
{
    text-align: left;
}

.controlContainer #myDropdown
{
    margin-right: auto;
    margin-left: auto;
}
.controlContainer .displaySettings
{
    display: table;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cfe89c;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.controlContainer .displaySettings caption
{
    margin-bottom: 10px;
    font-weight: bold;
}